body{
	font-family: Roboto;
  background: #232e4d url("images/triangles-background.png") repeat-y;
  background-size: 100% auto;
}
footer{
  background: url("images/footer-background.png") center top no-repeat;
  background-size: 100% auto;
  height: 200px;
}
h1{
  font-weight: 400;
  color:#df4944;
}
p, label{
  color: #fff;
  font-weight: 400;
  line-height: 20pt;
}
input, button{
  border-radius: 0 !important;
}
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("images/select-arrow.png");
  background-size: 5%;
}
form button{
  margin-top: 1em;
  background-color: #df4944;
  color:#fff;
}
.red{
  color: #df4944;
}


#top-menu-logo{
	background: url("images/top-menu-logo.png") center top no-repeat;
  background-size: 100% auto;
	height: 200px;
}
.navbar{
	background: url("images/top-menu-background.png") center top no-repeat;
  background-size: 100% auto;
}
.navbar-nav a, .navbar-nav a:hover{
  color: #fff;
  background: none !important;
  margin-top: 10px;
}


#home{
  background: url("images/home-background.png") center top no-repeat;
  background-size: 100% auto;
  height: 600px;
}

#ambassador-registration{
  margin-top:10em;
}


.form-group{
  padding-left: 0px;
}
.image-description{
  text-align: center;
  margin-bottom: 5em;
  margin-top: 1em;
}

