{% extends "base_template.html" %}
{% block text %}
<p>Oi, {{ambassador.profile.name}}, tudo bem?</p>
<p>Obrigada pelo seu interesse em integrar a rede de exibidores da Taturana (<a href="https://www.facebook.com/taturanamobi">www.facebook.com/taturanamobi</a>)! A sessão do filme {{movie.title}} foi agendada e iremos divulgá-la nas redes sociais.<p>
<p>Na própria plataforma, você pode editar a data e horário de sua sessão e ainda baixar todo o material de divulgação do filme: release, cartaz e fotos. Esses materiais podem ser usados para criar convites e outras peças de divulgação.</p>
<p>O filme será enviado 7 dias antes da sessão por meio de um link para download, então peço que você sempre atualize a data da sessão no sistema.</p>
<p>Reforçamos a importância de vocês enviarem logo após a exibição o número de pessoas que assistiu ao filme, um breve relato da atividade e algumas fotos. Essas informações são muito importantes para construir a rede de impacto social do filme e inspirar outras sessões.<p>
<p>Abraços,</p>
<p>Equipe Taturana.</p>
{% endblock %}
