{% extends "base_template.html" %}
{% block text %}
<p>Oi, {{ambassador.profile.name}},</p>
<p>Como estão os preparativos para a sua sessão do {{movie.title}} no dia {{screening.date.strftime("%d/%m/%Y")}}? Ela está de fato confirmada?</p>
<p>Por favor, confira se todas as informações estão corretas. Se houver qualquer alteração, você pode editá-la na sua própria página na plataforma: <a href="{{absoluteurl}}ambassador">{{absoluteurl|replace('http://', '')}}ambassador</a></p>
<p>Abraços,</p>
<p>Equipe Taturana</p>
{% endblock %}
