{% extends "base_template.html" %}
{% block text %}
<p>Oi, {{ambassador.profile.name}}, tudo bem?</p>
<p>Obrigada pelo retorno com a confirmação.</p>
<p>Você pode ter acesso ao filme por esse link para download:<br>
<a href="{{movie.link_for_download}}">{{movie.link_for_download}}</a>
{% if movie.password_for_download %}<br>senha: {{movie.password_for_download}}{% endif %}</p>
<p>Reitero cuidado com o material, que não deve ser cedido a terceiros, nem usado para outras exibições sem nossa prévia autorização.<p>
<p>Por favor, qualquer problema entre em contato pelo e-mail: <a href="mailto: contato@taturanamobi.com.br">contato@taturanamobi.com.br</a>.</p>
<p>Aguardo o relatório e boa sessão!</p>
<p>Abraços</p>
<p>Equipe Taturana</p>
{% endblock %}
