.profile-box{
	margin:2em 0 2em 0;
	img{
		width: 60%;
	}
	p{
		padding-left: 15%;
    padding-right: 15%;
    text-align: center;
	}
	h5{
		font-weight:300;
	}
}
#about {
  h3 {
  	margin-bottom:1em;
  }

  h2{
    font-size: 1.7em;
  }

  p {
    margin-bottom: 1em;
  }
}





