#ambassador-registration {
  background: url("images/home-background.jpg") center top no-repeat;
  background-size: 100% auto;
  min-height: 880px;
}

#ambassador{
  padding-top: 10em;
  & .col-md-3{
    margin-bottom: 6em;
  }
  & .col-md-4{
    margin-bottom: 5em;
  }
}
#ambassador-edit{
  padding-top: 10em;
  & h1{
    font-weight: 300;
    font-size: 3.3em;
    text-transform: uppercase;
  }
  & .col-md-4{
    margin-bottom: 3em !important;
  }
}

.ambassador-edit-description {
  margin-bottom: 2em;
}
