#carousel{
  & .synopsis{
    font-size: 0.9em;
    font-weight: 200;
  }
  & .title{
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    text-align:left;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
  }
  & .btn{
    border: 1px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.background-light-red{
	background-color: #df4944;
}
.background-dark-red{
	background-color: #bf3c3c;
}
.carousel-box{
	height:25em;

  @media(max-width: 600px) {
    height: auto;
  }
}
.icon-box{
	height: 60%;
  padding-top: 3em;
  display: flex;
  align-items: center;
}
.icon-box img{
	width:40%;
}
.numbers{
	padding: 1.1em 0;
  border-bottom: 2px solid #bf3c3c;
	h5{
	  font-size: 2.8em;
	}
}
.button-bar{
  padding: 1.1em 0;
}
.div-border{
  border-right: 2px solid #bf3c3c;
}
.slick-next, .slick-prev{
	&:before {
		font-family: 'icomoon';
  	font-size:45px;
  }
}
.slick-next{
  right: 18px;
  &:before {
	  content: "\e901";
	}
}
.slick-prev{
  left: -7px;
  &:before {
  	content: "\e900";
  }
}
@media (max-width: 600px) {
  .carousel-synopsis,
  .carousel-inventory {
    display: none;
  }
}
