.film-box div{
  padding: 0;
}
.film-box{
  border: 1px solid #df4944;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top:1em; 
  margin-bottom:1em;
  img{
    width:100%;
    margin-bottom: 1em;
  }
}

table{
  opacity: 0.3;
  width: 100%;
}
table, td{
  border: 2px solid #fff;
  color: #fff;
  border-collapse: collapse;
  padding: 0.7em;
  text-align: center;
}

#films .film-box, .screening-date{
  @media (max-width: 990px){
    width: 100%;
  }
  @media (min-width: 992px){
    width: 49%;
    img{
      padding-right: 1em;
    }
  }
}
#films .film-box:nth-child(even){
  float:right;
}

.screening-date{
  margin-top:2em;
  h6, p{
    opacity: 0.3;
  }
  p{
    margin-bottom:0;
  }
  table{
    margin-bottom:1em;
  }
}




