#films, #show-film {
  background: url("images/bg-films.jpg") center top no-repeat;
  background-size: 100% auto;
}

.film-box div{
  padding: 0;
}
.film-box{
  border: 1px solid #df4944;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top:1em;
  margin-bottom:1em;
  img{
    width:100%;
    margin-bottom: 1em;
  }

  &:nth-child(2n + 1) {
    clear: both;
  }

  dl {
    margin: 0;
    padding: 0;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    dt, dd {
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.2);
      padding: 0.9em 0;
      border-collapse: collapse;
      color: #fff;
    }
    dt {
      width: 100px;
      text-align: right;
      float: left;
      clear: left;
    }
    dd {
      margin: 0 0 0 100px;
      padding-left: 0.9em;
      text-align: left;
    }
  }
}
.film-basic-info {
  margin-bottom: 16px;
}
.white-table{
  opacity: 0.7;
  width: 100%;
}
.white-table, .white-table td{
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  border-collapse: collapse;
  padding: 0.9em;
  text-align: center;
}

#films .film-box, .screening-date{
  @media (max-width: 990px){
    width: 100%;
  }
  @media (min-width: 992px){
    width: 49%;
    img{
      padding-right: 1em;
    }
  }
}
#films .film-box:nth-child(even){
  float:right;
}

.screening-date{
  margin-top:2em;
  h6, p{
    opacity: 0.3;
  }
  p{
    margin-bottom:0;
  }
  table{
    margin-bottom:1em;
  }
}




