#home{
  padding-top: 10em;
  background: url("images/home-background.jpg") center top no-repeat;
  background-size: 100% auto;
}
#home .container{
	background: url("images/home-background.svg") center top no-repeat;
  background-size: 100% auto;
  height: 540px;
  display: table;
  position: relative;
  overflow: hidden;
  @media (max-width: 992px){
  	height: 400px;
  }
  @media (max-width: 600px){
  	height: 300px;
  	display: block;
  }
}
.home-text-box{
	position: absolute;
	top: 20%;
	display:table-cell;
	vertical-align: middle;
}
.home-items{
  text-align:center;
  font-size: 1.5em;
  line-height: 1.5em;
}
.home-text{
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.2em;
	@media (max-width: 992px){
		font-size:2em;
  	top: 20%;
  }
  @media (max-width: 600px){
  	font-size:1.5em;
  	top: 10%;
  }
}
.home-headers{
  color: #fff;
  font-weight: 300;
  text-transform:uppercase;
  &.box{
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
    border: 1px solid #df4944;
    padding: 0.6em 0.8em;
  }
}
#home-carousel .home-section-description{
  margin-bottom:2em;
}
.row.box{
  margin:0;
}

.center-btn{
  text-align:center;
}

