@import '{reywood:bootstrap3-sass}/bootstrap';
@import 'films';
@import 'nav';
@import 'home';


body{
	font-family: Roboto;
  font-weight: 400;
  background: #232e4d url("images/triangles-background.png") repeat-y;
  background-size: 100% auto;
}
.reset-div{
  padding:0;
}
.red{
  color: #df4944;
}
h1, h3{
  color:#df4944;
}
h5{
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
}
h6{
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: left;
  
}
p, label{
  color: #fff;
  line-height: 20pt;
}
a, a:hover, a:visited, a:link{
  color:#fff;
}
input, button, textarea{
  border-radius: 0 !important;
}
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("images/select-arrow.png");
  background-size: 5%;
}
button{
  margin-top: 1em;
  background-color: #df4944;
  color:#fff;
}
.form-group{
  padding-left: 0px;
}

#ambassador-registration, #films, #adm-films, #home, #agenda, #contact, #about, #show-film{
  margin-top:10em;
}


.image-description{
  text-align: center;
  margin-top: 1em;
}
.home-section-description{
  text-align: center;
  margin: 1em 0 4em 0;
  line-height: 2em;
}
#ambassador-registration .image-description{
  margin-bottom: 5em;
}
.section-description{
  width:70%;
}
.divider{
  margin-top: 5em;
  margin-bottom: 5em;
}
.float-none{
  float: none;
}
.triangle-bullets{
  list-style-image: url("images/triangle-bullet.svg");
}
li{
  color:#fff;
}
#contact img{
  width:75%;
}
.full{
  width: 100%;
}
section{
  margin-bottom:5em;
}
.adm-thumb{
  width:30%;
  display: list-item;
}
