@import '{reywood:bootstrap3-sass}/bootstrap';
@import 'films';
@import 'nav';
@import 'home';

body{
	font-family: Roboto;
  font-weight: 400;
  background: #232e4d url("images/triangles-background.png") repeat-y;
  background-size: 100% auto;
}
.reset-div{
  padding:0;
}
.red{
  color: #df4944 !important;
}
h1, h3{
  color:#df4944;
}
h1.section-title-sm{
  font-weight:300;
  font-size:1.6em;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}
h1.section-title-lg, h2.section-title-lg{
  font-weight: 300;
  font-size: 3.3em;
  text-transform: uppercase;
}
h5{
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
}
h6{
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: left;

}
p, label{
  color: #fff;
  line-height: 20pt;
  font-weight: 300;
  font-size: 1.1em;
}
a, a:hover, a:visited, a:link{
  color:#fff;
}
a, input, button, textarea{
  border-radius: 0 !important;
}
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("images/select-arrow.png");
  background-size: 5%;
}
a.btn, button{
  margin-top: 1em;
  background-color: #df4944;
  color:#fff;
}
.form-group{
  padding-left: 0px;
}

#ambassador-registration, #films, #home, #agenda, #contact, #about, #show-film {
  margin-top:10em;
}

.image-description{
  text-align: center;
  margin-top: 1em;
}
.home-section-description{
  text-align: center;
  margin: 1em 0 4em 0;
  line-height: 2em;
}
.film-thumb-title{
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight:300;
}
#ambassador-registration .image-description{
  margin-bottom: 5em;
}
.section-description{
  width:70%;
  margin-bottom: 5em;
}
.divider{
  margin-top: 5em;
  margin-bottom: 5em;
}
.float-none{
  float: none;
}
.triangle-bullets{
  list-style-image: url("images/triangle-bullet.svg");
}
li{
  color:#fff;
}
#contact img{
  width:75%;
}
.full{
  width: 100%;
}
section{
  margin-bottom:5em;
}
.adm-thumb{
  width:30%;
  display: list-item;
}
.sub-label{
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.5em;
}
.thumb-poster{
  width:75%;
}
.square_button{
  padding:1em;
  border: 1px solid #fff;
}
