@import '{reywood:bootstrap3-sass}/bootstrap';

// Variables
$large: 980px;
$medium: 600px;

#container-bg {
  position: relative;
  background: transparent;
}
#container-bg::before {
    content: " ";
    background-image: url("images/home-background.jpg");
    background-color: #0e0e0e;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: 1300px;
    background-position: -73px -60px;
    position: absolute;
    z-index: -1000;

    @media (min-width: 768px) {
      height: 1000px;
      width: 100%;
    }
    @media (max-width: 1199px) {
      background-position: -127px -42px;
      background-size: 1199px;
    }
    @media (max-width: 992px) {
      background-position: -132px 40px;
      background-size: 992px;
    }
    @media (max-width: 768px) {
      background-position: -132px 40px;
      background-size: 992px;
    }
}

body{
	font-family: Roboto;
  font-weight: 400;
  background-color: #0e0e0e;

  @media (max-width: 583px) {
    background-size: inherit;
  }
}
.reset-div{
  padding:0;
}
.red{
  color: #df4944 !important;
}
h1, h3{
  color:#df4944;
}
h1.section-title-sm{
  font-weight:300;
  font-size:1.6em;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}
h1.section-title-lg, h2.section-title-lg{
  font-weight: 300;
  font-size: 3.3em;
  text-transform: uppercase;
}
h5{
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
}
h6{
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: left;

}
p, label{
  color: #fff;
  line-height: 20pt;
  font-weight: 300;
  font-size: 1.1em;
}
a, a:hover, a:visited, a:link{
  color:#fff;
}
a, input, button, textarea{
  border-radius: 0 !important;
}
select:not([multiple]) {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("images/select-arrow.png");
  background-size: 30px;
}

select::-ms-expand{
  display:none;
}

a.btn, button{
  margin-top: 1em;
  background-color: #df4944;
  color:#fff;
}
.form-group{
  padding-left: 0px;
}

#home, #ambassador-registration, #films, #agenda, #contact, #about, #show-film {
  padding-top:15em;

  @media (max-width: 830px) {
    padding-top: 15em;
  }
}

#home {
  padding-top: 200px;
  @media (min-width: 1300px) {
  }
  @media (min-width: 1900px) {
  }
}

.bg-wrapper {
  // background: url("images/bg-default.jpg") center top no-repeat;
  // background-size: 100% auto;
  // min-height: 880px;
}

#contact {
  // background: url("images/bg-contact.jpg") center top no-repeat;
  // background-size: 100% auto;
  // min-height: 880px;
}

.image-description{
  text-align: center;
  margin-top: 1em;
}
.home-section-description{
  text-align: center;
  margin: 1em 0 4em 0;
  line-height: 2em;
}
.film-thumb-title{
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight:300;
}
#ambassador-registration .image-description{
  margin-bottom: 5em;
}
.section-description{
  width:70%;
  margin-bottom: 5em;
}
.divider{
  margin-top: 5em;
  margin-bottom: 5em;
}
.float-none{
  float: none;
}
.triangle-bullets{
  list-style-image: url("images/triangle-bullet.svg");
}
li{
  color:#fff;
}
#contact img{
  width:75%;

  @media (max-width: 650px) {
    display: none;
  }
}
.full{
  width: 100%;
}
section{
  margin-bottom:5em;
}
.adm-thumb{
  width:30%;
  display: list-item;
}
.sub-label{
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.5em;
}
.thumb-poster{
  width:75%;
}
.square_button{
  padding:1em;
  border: 1px solid #fff;
  font-weight: 100;
}
#flashMessages {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 3000;
  text-align: center;

  .close {
    margin-top: -5px;
  }
}
