#top-menu-logo{
  background: url("images/top-menu-logo.png") center top no-repeat;
  background-size: 90% auto;
  height: 11em;
}
.navbar{
  background: url("images/top-menu-background.png") center top no-repeat;
  background-size: 100% auto;
}
.navbar-nav a, .navbar-nav a:hover{
  color: #fff;
  background: none !important;
  margin-top: 10px;
}

.navbar-left {
  > li {
    float: right;
  }

  .avatar-menu {
    margin-right: 22px;
  }

  .submenu {
    width: 300px;
    clear: both;
  }
}
