#new-screening{
	padding-top: 10em;
	& h3 {
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 0.9em;
  }
  & table{
  	margin-top:2em;
  }
}
#report, #edit-screening{
  padding-top: 19em;
}
.address-box{
  background-color:#df4944;
  color:#fff;
  text-align:center;
  width:45%;
  display:inline-block;
  padding: 1em 0 0.7em 0;
  position: relative;
  margin-bottom: 10px;

  &:nth-child(even){
    margin-right: 5px;
  }
  &:nth-child(odd){
    margin-left: 5px;
  }
  & h4{
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.8em;
  }
  & .address-text{
    color:#333333;
    font-weight:300;
    line-height:1.3em;
  }
  & .remove_address{
    position: absolute;
    top: 0px;
    right: 0.2em;
    border: none;
    font-weight: 100;
    color: #333333;
    font-size: 1.3em;
    margin-top: 0.2em;
  }
}

.session-info {
  dt {
    font-weight: bold;
    margin-top: 1em;
  }

  a {
    text-decoration: underline;
  }
}

.status-meanings {
  list-style: none;
  text-align: center;
  margin-bottom: 9em;

  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7em;
    opacity: .7;

    span {
      display: inline-block;
      vertical-align: middle;
      font-size: .9375em;
    }

    img {
      margin-right: 1rem;
    }
  }

  @media (max-width: 830px) {
    li {
      margin-bottom: 2rem;
    }
  }
}

.session-edit-box {
  position: relative;

  .session-current-status,
  .session-info {
    display: inline-block;
    vertical-align: top;
  }


  .session-current-status {
    margin-right: 1em;
  }

  .session-info h2 {
    margin-top: .5rem;
  }

  .session-edit-actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(35, 46, 77, .7);
    line-height: 9em;
  }

  &:hover {
    .session-edit-actions {
      display: block;
    }
  }
}

