#new-screening{
	padding-top: 10em;
	& h3 {
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 0.9em;
  }
  & table{
  	margin-top:2em;
  }
}
#report, #edit-screening{
  padding-top: 10em;
}





