#show-film {
  & h3{
    font-weight:400;
    font-size:1.8em;
    text-transform:uppercase;
    margin-bottom:0.9em;
  }
  & button{
    margin-top: 2em;
    float: right;
    margin-left: 1em;
    font-size: 1em;
    font-weight: 300;
  }
  & h5{
    text-align: left;
    font-weight:300;
    font-size:1.6em;
  }
  & .thumb-poster{
    width:75%;
  }
  & #carousel{
    width:80%;
  }

  dl {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    dt, dd {
      border-width: 0 0 0 1px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.2);
    }
    dt {
      color: red;
    }
    dd {
      color: orange;
      :after {
        content: '';
        display: block;
        clear: both;
      }
    }

  }
}
.age-rating{
  width: 0.4em;
  margin-left: 0.1em;
  }
.field-name{
  opacity: 0.6;
  margin-bottom: 0.8em;
}
.data-row{
  margin-top: 4em;
}
.box{
  margin-bottom: 1.5em;
  border: 1px solid #df4944;
  padding: 1.2em 1.4em;
  color:#fff;
  line-height: 1.8em;
}
.photo{
  position: relative;
}
.photo-description{
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: 17%;
  opacity: 0.7;
  font-size: 1.2em;
}
.paragraph-icon{
  margin-right:1em;
}
.zone{
  background: url("/images/zone-on.svg") no-repeat;
  color: #df4944;
  font-weight: 100;
  height: 3.8em;
  width: 3.8em;
  line-height: 3.8em;
  text-align: center;
}

.ct-chart {
  position: relative;
  min-height: 230px;
  overflow: hidden;

  &-donut {
    position: absolute;
    top: 0;
    top: -15%;
    height: 280px !important;
    display: inline-block;
  }

}

.ct-grid {
  stroke: rgba(149,149,149,1);
}

.ct-label {
  font-size: .75em;
  color: #AAA;
  background: none;
}

.ct-line {
  stroke: #FFF !important;
}

.ct-point {
  stroke: #df4944 !important;
}

.ct-grid.ct-vertical {
  opacity: 0;
}

.ct-legend {
  position: relative;
  z-index: 10;
  list-style: none;
  font-size: .8em;

  li {
      position: relative;
      padding-left: 23px;
      margin-bottom: 3px;
  }

  li:before {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 0;
      content: '';
      border: 3px solid transparent;
      border-radius: 2px;
  }

  li.inactive:before {
      background: transparent;
  }

  &.ct-legend-inside {
      position: relative;
      top: 0;
      left: 260px;
      padding: 0;
      width: 220px;

  }

  $ct-series-colors: #d70206, #f05b4f, #f4c63d, #d17905, #453d3f, #59922b, #0544d3, #6b0392, #f05b4f, #dda458, #eacf7d, #86797d, #b2c326, #6188e2, #a748ca, #680000, #688800, #6800aa, #2b00aa, #002baa;

  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i}:before {
      background-color: nth($ct-series-colors, $i + 1);
      border-color: nth($ct-series-colors, $i + 1);
    }
  }
}

.ct-series-p { stroke:  #680000 }
.ct-series-q { stroke:  #688800 }
.ct-series-r { stroke:  #6800aa }
.ct-series-s { stroke:  #2b00aa }
.ct-series-r { stroke:  #002baa }

.film-detail-buttons {
  text-align: right;
  margin-bottom: 2rem;

  @media (max-width: 650px) {
    .btn {
      font-size: .8em;
    }
  }
}

@media (max-width: 650px) {
  .poster-wrapper {
    text-align: center;
    margin-bottom: 1em;
  }
}

.film-graphs {
  color: #FFF;
  
  justify-content: space-between;
  margin-bottom:3em;

  p {
    color: #CCC;
    text-align: center;
    margin-bottom:35px;
  }

  &__box {
    width: 50%;

    img {
      margin-right: 1em;
    }

    dl {
      margin-top: 2.6em;
      font-size: 1.5em;
      border: 0 !important;
    }

    dd {
      margin-bottom: 1em;
      color: rgba(255, 255, 255, 0.5) !important;
      border: 0;
      border-style: none !important;
      font-size: 0.8em;
      font-weight: 300;
    }

    ul {
      list-style: none;
      margin-top: 2.6em;
      padding-left: 0;

      li {
        display: inline-block;
        width: 3.7em;
        height: 3.7em;
        border-radius: 25px;
        background: #FFF;
        font-weight: 500;
        color: #df4944;
        text-align: center;
        line-height: 3.8em;
        margin: 0 1em 1em 0;
      }
    }
  }

  @media (max-width: 650px) {
    display: block;

    &__box {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
}



