#show-film {
  & h3{
    font-weight:400;
    font-size:1.8em;
    text-transform:uppercase;
    margin-bottom:0.9em;
  }
  & button{
    margin-top: 2em;
    float: right;
    margin-left: 1em;
    font-size: 1em;
    font-weight: 300;
  }
  & h5{
    text-align: left;
    font-weight:300;
    font-size:1.6em;
  }
  & .thumb-poster{
    width:75%;
  }
  & #carousel{
    width:80%;
  }
}
.field-name{
  opacity: 0.6;
  margin-bottom: 0.8em;
}
.data-row{
  margin-top: 4em;
}
.box{
  margin-bottom: 1.5em;
  border: 1px solid #df4944;
  padding: 1.2em 1.4em 0.4em 1.4em;
  color:#fff;
}
.photo{
  position: relative;
}
.photo-description{
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: 17%;
  opacity: 0.7;
  font-size: 1.2em;
}
.paragraph-icon{
  margin-right:1em;
}
.zone{
  background: url("/images/zone-on.svg") no-repeat;
  color: #df4944;
  font-weight: 100;
  height: 3.8em;
  width: 3.8em;
  line-height: 3.8em;
  text-align: center;
}

.ct-chart {
  position: relative;
  height: 250px;

}

.ct-grid {
  stroke: rgba(149,149,149,1);
}

.ct-label {
  font-size: .75em;
  color: #AAA;
  background: none;
}

.ct-line {
  stroke: #FFF !important;
}

.ct-point {
  stroke: #df4944 !important;
}

.ct-grid.ct-vertical {
  opacity: 0;
}

.ct-legend {
  position: relative;
  z-index: 10;
  list-style: none;

  li {
      position: relative;
      padding-left: 23px;
      margin-bottom: 3px;
  }

  li:before {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 0;
      content: '';
      border: 3px solid transparent;
      border-radius: 2px;
  }

  li.inactive:before {
      background: transparent;
  }

  &.ct-legend-inside {
      position: absolute;
      top: 0;
      right: 0;
  }

  $ct-series-colors: #d70206, #f05b4f, #f4c63d, #d17905, #453d3f, #59922b, #0544d3, #6b0392, #f05b4f, #dda458, #eacf7d, #86797d, #b2c326, #6188e2, #a748ca;

  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i}:before {
      background-color: nth($ct-series-colors, $i + 1);
      border-color: nth($ct-series-colors, $i + 1);
    }
  }
}

.film-graphs {
  color: #FFF;
  display: flex;
  justify-content: space-between;

  p {
    color: #CCC;
    text-align: center;
  }

  &__box {
    width: 50%;

    dl {
      margin-top: 2.6em;
      font-size: 1.5em;
    }

    dd {
      margin-bottom: 1em;
    }

    ul {
      list-style: none;
      margin-top: 2.6em;
      padding-left: 0;

      li {
        display: inline-block;
        width: 3.7em;
        height: 3.7em;
        border-radius: 25px;
        background: #FFF;
        font-weight: 500;
        color: #df4944;
        text-align: center;
        line-height: 3.8em;
        margin-right: 1em;
      }
    }
  }
}



