<template name="about">
  {{>nav}}
  <div id="about" class="container">
    <h3>O QUE FAZEMOS</h3>
    <p>Mobilizamos parceiros em todo o Brasil e articulamos redes em torno de materiais audiovisuais.</p>
    <p>Nossa tecnologia social permite que as produções extrapolem a telona e se espalhem por circuitos de difusão em centros culturais, cineclubes, escolas, organizações e instituições sociais, pontos de cultura, universidades, coletivos, praças e equipamentos públicos etc.</p>
    <p>Com isso, buscamos:</p>
    <ul class="triangle-bullets">
    	<li>Ampliar a difusão de obras audiovisuais a partir de redes culturais</li>
    	<li>Engajar pessoas e instituições em causas e conteúdos relevantes abordados pelas obras</li>
    	<li>Formar público para a cultura audiovisual</li>
    	<li>Democratizar o acesso ao cinema brasileiro</li>
    	<li>Ocupar espaços públicos e de interesse público com atividades socioculturais ligadas a cinema/audiovisual</li>
    </ul>
    <br/>
    <p>Chamamos os parceiros da rede de EMBAIXADORES. <br/> O embaixador do filme em uma instituição ou município:</p>
    <ul class="triangle-bullets">
    	<li>Mobiliza localmente</li>
    	<li>Articula a exibição em espaços públicos ou de interesse público</li>
    	<li>Realiza a sessão/atividade e</li>
    	<li>conecta o ponto local à rede gerada em torno da obra audiovisual exibida</li>
    </ul>
    <br/>
    <br/>
    <h3>QUEM SOMOS</h3>
    <div class="row">
    	<div class="profile-box col-md-6">
    		<img src="images/about-carol.png" class="about-image center-block" alt="Foto de Carol Misorelli">
    		<h5 class="red">CAROL MISORELLI</h5>
    		<p>É mobilizadora social e internacionalista. Trabalha há mais de 10 anos com movimentos e organizações sociais – tendo trabalhado na área de mobilização social e articulação de redes do Canal Futura e do Museu da Pessoa. É pós-graduada em História da África (UCAM) e atualmente estuda antropologia visual.</p>
    	</div>
    	<div class="profile-box col-md-6">
    		<img src="images/about-livia.png" class="about-image center-block" alt="Foto de Lívia Almendary">
    		<h5 class="red">LÍVIA ALMENDARY</h5>
    		<p>É comunicadora e educadora. De 1999 a 2008, trabalhou como comunicadora para ONGs, movimentos sociais, mídia independente e governos federal e da cidade de São Paulo com temáticas socioambientais e de inclusão digital. De 2009 a 2012, morou em Buenos Aires, onde estudou literatura e cultura latino-americana e atuou como educadora popular de jovens e adultos.</p>
    	</div>
    </div>
  </div>
  {{>footer}}
</template>
