<template name="admSessions">
  {{>nav}}
  <div class="bg-wrapper">
    <div id="adm-sessions" class="container adm">

      {{>admSidebar page="sessions"}}

      <div class="col-md-8 col-md-offset-1">
        <div class="row">
          <h1>Sessões</h1>
          <div class="row noLeftMargin">
            <div class="col-md-4">

                <div class="form-group col-md-4">
                    <label for="state-selector">Estado</label>
                    <select class="form-control" name="state-selector" id="st-selector">
                      <option value="">Selecione</option>
                      {{#each states_options films}}
                        <option>{{this}}</option>
                      {{/each}}
                    </select>
                </div>

                 <div class="form-group col-md-8">
                  <label for="city-selector">Cidade</label>
                  <select class="form-control" name="city-selector" id="city-selector">
                      <option value="">Selecione</option>
                      {{#each cities_options films}}
                        <option>{{this}}</option>
                      {{/each}}
                  </select>
              </div>
            </div>

              <div class="col-md-8">
                  <label>Selecione um mês</label>
                <div class="datepicker-container">
                    <div class="btn-group form-group">
                        <button type="button" class="btn btn-datepicker" data-month="1">Jan</button>
                        <button type="button" class="btn btn-datepicker" data-month="2">Fev</button>
                        <button type="button" class="btn btn-datepicker" data-month="3">Mar</button>
                        <button type="button" class="btn btn-datepicker" data-month="4">Abr</button>
                        <button type="button" class="btn btn-datepicker" data-month="5">Mai</button>
                        <button type="button" class="btn btn-datepicker" data-month="6">Jun</button>
                        <button type="button" class="btn btn-datepicker" data-month="7">Jul</button>
                        <button type="button" class="btn btn-datepicker" data-month="8">Ago</button>
                        <button type="button" class="btn btn-datepicker" data-month="9">Set</button>
                        <button type="button" class="btn btn-datepicker" data-month="10">Out</button>
                        <button type="button" class="btn btn-datepicker" data-month="11">Nov</button>
                        <button type="button" class="btn btn-datepicker" data-month="12">Dez</button>
                    </div>
                </div>
              </div>

          </div>


          <div class="row leftMarginHack">
            <div class="col-md-4">
              <div class="form-group">
                <label for="filmSelector">Filme</label>
                <select class="form-control" name="filmSelector" id="film-selector">
                  <option value="">Selecione</option>
                  {{#each films}}
                  <option>{{title}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label for="ambassador-selector">Embaixador</label>
                <select class="form-control" name="ambassador-selector" id="ambassador-selector">
                  <option value="">Selecione</option>
                  {{#each ambassador_options films}}
                  <option value="{{_id}}">{{profile.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-8">
              <div class="filters">
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-sm-2">
                      <input type="checkbox" name="teamParticipation" id="team-selector" />
                    </div>
                    <label for="teamParticipation">Participação da equipe</label>
                  </div>
                  <div class="col-md-6">
                    <div class="col-sm-2">
                      <input type="checkbox" name="publicEvent" id="public-event" />
                    </div>
                    <label for="publicEvent">Aberta ao público</label>
                  </div>
                  <span class="col-md-12 division"></span>
                  <div class="col-md-6">
                    <div class="col-sm-2">
                      <input type="checkbox" name="comment" id="comment" />
                    </div>
                    <label for="comment">Comentarios? </label>
                  </div>
                  <div class="col-md-6">
                    <div class="col-sm-2">
                      <input type="checkbox" name="pendingReport" id="pendingReport" />
                    </div>
                    <label for="pendingReport">Tem relatórios pendentes? </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row leftMarginHack">

        {{#each filtered_films}}
          <div class="col-md-12" id="screeningDetails-container">
              <div id="screeningDetails-movieInfo">

                <div class="col-md-3">
                  <h1>{{title}}</h1>
                  <img class="screening-film-poster" src="/upload/{{poster_path}}"/>
                </div>

                <div class="col-md-9" style="padding-left: 0px">
                  <ul id="screeningList" class="list-unstyled">
                  {{#each future_screenings}}
                    <li class="screeningItem col-md-12">
                      <div class="col-md-1" style="text-align: right">
                        {{ #if oldSession date }}
                        {{ #if real_quorum }}
                        <img src="/images/icon-complete.png">
                        {{ else }}
                        <img src="/images/icon-report-pending.png">
                        {{/if}}
                        {{ else }}
                        <img src="/images/calendar.svg">
                        {{/if}}
                      </div>
                      <div class="col-md-2">
                        <p class="screeningTime">{{format_date date}} {{format_time date}}</p>
                      </div>
                      <div class="col-md-5">
                        <p  class="screeningDetails">
                          <strong>{{place_name}}</strong>
                          <br>
                          {{street}} {{number}} {{complement}}, {{zone}} - {{city}} - {{uf}}
                          <br><br>
                          <strong>{{get_name user_id}}</strong>
                          <br>
                          {{get_email user_id}}
                        </p>
                      </div>
                      <a class="btn" href="/adm/session/{{_id}}">Visualizar</a>
                      <a class="btn" href="/edit-screening/{{_id}}">Editar</a>
                      {{#if draft}}
                        <button class="btn btn-unset-draft" data-session-id="{{_id}}">Desmarcar como rascunho</button>
                      {{else}}
                        <button class="btn btn-set-draft" data-session-id="{{_id}}">Marcar como rascunho</button>
                      {{/if}}
                    </li>
                  {{/each}}
                </ul>
                </div>
              </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{>footer}}
</template>
