<template name="admAmbassadors">
  {{>nav}}
  <div id="adm-ambassadors" class="container adm">

    {{>admSidebar page="ambassadors"}}

    <div class="col-md-8 col-md-offset-1">
      <div class="row filters">
        <div class="filters-header">Filtrar por:</div>

        <form id="ambassadors-filters" class="form-horizontal">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="category">Área de Atuação: </label>
                  <div class="col-sm-8">
                    <select name="category" class="form-control no-radius">
                      <option> </option>
                      {{#each categories }}
                      <option>{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="subcategory">Temática: </label>
                  <div class="col-sm-8">
                    <select name="subcategory" class="form-control no-radius">
                      <option> </option>
                      {{#each subcategories }}
                        <option>{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="filmDisplayed">Exibiu o filme: </label>
                  <div class="col-sm-8">
                    <select name="filmDisplayed" class="form-control no-radius">
                      <option> </option>
                      {{#each films }}
                        <option>{{title}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="form-group">
                  <label class="col-sm-10 control-label" for="noScreenings">Nunca agendou uma sessão? </label>
                  <div class="col-sm-2">
                    <input type="checkbox" name="noScreenings" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-10 control-label" for="pendingReport">Tem relatórios pendentes? </label>
                  <div class="col-sm-2">
                    <input type="checkbox" name="pendingReport" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-10 control-label" for="teamMember">Pediu participação da equipe? </label>
                  <div class="col-sm-2">
                    <input type="checkbox" name="teamMember" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <button type="submit" class="btn pull-right">Filtrar</button>
            <button class="csv-export btn pull-left">Exportar CSV</button>
          </div>
        </form>
      </div>

      <div class="row">
        <ul class="ambassadors-list">
          {{#each ambassadors }}
          <li><strong>{{profile.name}}</strong> <a class="pull-right" href="mailto: {{firstAddress emails}}">{{firstAddress emails}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{>footer}}
</template>
