<template name="admSession">
  {{>nav}}
  <div class="bg-wrapper">
    <div id="adm-sessions" class="container adm">

      {{>admSidebar page="sessions"}}

      <div class="col-md-8 col-md-offset-1">
        <div class="row">
          <h1>Sessão</h1>
          <dl class="session-info">
            <dt>Local:</dt>
            <dd>{{place_name}}</dd>
            <dt>Endereço:</dt>
            <dd>
              {{street}}, {{number}} {{complement}}<br />
              {{cep}} {{zone}} - {{city}}/{{uf}}<br />
              {{s_country}}
            </dd>
            <dt>Data:</dt>
            <dd>{{format_date date}} - {{format_time date}}</dd>
            <dt>Evento publico:</dt>
            <dd>{{public_event}}</dd>
            <dt>Expectativa:</dt>
            <dd>{{quorum_expectation}}</dd>
            <dt>Atividade:</dt>
            <dd>{{activity}}</dd>
            <dt>Tema da atividade:</dt>
            <dd>{{activity_theme}}</dd>
            <dt>Comentários:</dt>
            <dd>{{comments}}</dd>
            <dt>Participação da equipe:</dt>
            <dd>{{public_event}}</dd>
            <dt>Aceita termos:</dt>
            <dd>{{accept_terms}}</dd>
            <dt>Embaixador:</dt>
            {{#with user user_id}}
            <dd><a href="/adm/ambassador/{{_id}}">{{profile.name}}</a></dd>
            {{/with}}
            {{#if real_quorum }}
            <dt>Relatório:</dt>
            <dd><a href="/adm/report/{{_id}}">[ Ver Relatório ]</a></dd>
            {{/if}}
          </dl>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</template>
