<template name="admReport">
  {{>nav}}
  <div id="adm-report" class="container adm">

    {{>admSidebar page="films"}}

    <div class="col-md-8 col-md-offset-1">
      <div class="row">
        <h1>Relatório</h1>
        {{#with screening}}
          <p>{{date}} {{time}}</p>
          <p>{{place_name}}</p>
          <p>{{street}} {{number}} {{complement}}</p>
          <p>{{zone}} - {{cep}}</p>
          <p>{{city}} {{uf}} - {{s_country}}</p>
          <br />
          <p><strong>Pessoas esperadas:</strong> {{quorum_expectation}}</p>
          <p><strong>Pessoas que foram:</strong> {{real_quorum}}</p>
          <p><strong>Como foi:</strong></p>
          {{report_description}}
          <br /><br />
          <img src="/upload/{{report_image_1}}" class="report-image" />
          <textarea name="report_caption_1"></textarea>
          <a href="#">Aprovar para carrossel</a>
        {{/with}}
      </div>
    </div>
  </div>
  {{>footer}}
</template>
