<template name="ambassador">
  {{>nav}}
  <div id="ambassador" class="container">
    <div class="row">
      <p class="section-description">Olá, {{currentUser.profile.name}}!</p>
      <div class="col-md-12">
        <h1 style="margin-bottom:3em">ORGANIZE UMA SESSÃO</h1>
        <p class="section-description">Escolha o filme para o qual deseja organizar uma sessão:</p>
        {{#each disseminate}}
          {{title}}
        {{/each}}

      </div>
    </div>
  </div>
  {{>footer}}
</template>