<template name="ambassador">
  {{>nav}}
  <div id="ambassador-registration" class="container">
    <div class="row">
      <div class="col-md-6 pull-right">
        {{#if isInRole 'ambassador'}}
          <h1>Ambassador Rules</h1>
        {{/if}}
      </div>
      <div class="col-md-6">
         <h1 style="margin-bottom:3em">EMBAIXADOR</h1>
        <img style="margin-bottom:6em" src="images/user-registration-image-3.svg" class="img-responsive center-block">
      </div>
    </div>
  </div>
  {{>footer}}
</template>