<template name="register">
  {{>nav}}
  <div id="ambassador-registration" class="container">
    <div class="row">
      <div class="col-md-6 pull-right">
        <h1>CADASTRE-SE</h1>
        <div class="help-block with-errors form-errors"></div>
        <form class="new-ambassador">
          <div class="form-group col-md-12">
            <label class="control-label" for="name">Nome completo<span class="red">*</span></label>
            <input type="text" name="name" class="form-control" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="email">E-mail<span class="red">*</span></label>
            <input type="email" name="email" class="form-control email" required>
            <span class="help-block with-errors"></span>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="email-validation">Repita seu e-mail<span class="red">*</span></label>
            <input type="email" data-match=".email" name="email-validation" class="form-control email-validation" data-match-error="Ops, verifique se digitou corretamente." required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group col-md-5">
            <label class="control-label" for="password">Senha<span class="red">*</span></label>
            <input type="password" data-minlength="8" name="password" class="form-control password" data-error="Verifique se digitou 8 caracteres" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group col-md-5">
            <label class="control-label" for="password-validation">Repita a senha<span class="red">*</span></label>
            <input type="password" data-match=".password" data-minlength="8" name="password-validation" class="form-control" data-match-error="Ops, verifique se digitou corretamente." data-error="Verifique se digitou 8 caracteres" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group col-md-5">
            <label class="control-label" for="phone">Telefone<span class="red">*</span></label>
            <input type="text" name="phone" class="form-control" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group col-md-5">
            <label class="control-label" for="cpf">CPF<span class="red">*</span></label>
            <input type="text" name="cpf" class="form-control" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group col-md-10">
            <label class="control-label" for="institution ">Você faz parte de alguma instituição, coletivo ou grupo?<span class="red">*</span></label>
            <input type="text" name="institution" class="form-control" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group col-md-10">
            <label class="control-label" for="category ">Qual a sua área de atuação?</label>
            <select name="category" class="form-control no-radius">
              {{#each categories }}
                <option>{{name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group col-md-10">
            <label class="control-label" for="subcategory">Com quais temáticas vocês trabalham?</label>
            <select name="subcategory" class="form-control">
              {{#each subcategories }}
                <option>{{name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group col-md-6">
            <button class="btn btn-lg btn-block" type="submit" value="Register">Enviar</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h1 style="margin-bottom:1em">O QUE VOCÊ PODE <br/> FAZER COMO EMBAIXADOR</h1>
        <img src="images/register-info.svg" style="width: 65%;margin-bottom:2em" class=" center-block red">
      </div>
    </div>
  </div>
  {{>footer}}
</template>
