<template name="film">
  <div class="col-md-6 col-md-12 film-box">
    <div class="col-md-6">
      <img src="{{poster_url}}">
    </div>
    <div class="col-md-6">
      <h3>{{title}}</h3>
      <table>
        <tr>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <td>{{lenght}}</td>
        </tr>
        <tr>
          <td>{{distributor}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-12">
      <p>{{synopsis}}</p>
      <button class="btn btn-lg center-block">VER DETALHES DO FILME</button>
    </div>
  </div>
</template>