<template name="films">
  {{>nav}}
  <div id="films">
    <div class="container">
      <h1 class="section-title-lg">FILMES</h1>
      <p class="section-description">Estes filmes estão em cartaz no circuito de difusão social da Taturana! Você pode organizar uma sessão ou participar de alguma já programada.</p>
      {{#each films}}
        {{> film}}
      {{/each}}
    </div>
  </div>
  {{>footer}}
</template>
<template name="film">
  <div class="col-md-6 col-md-6 film-box">
    <div class="col-md-6">
      <img src="/upload/{{poster_path}}">
    </div>
    <div class="col-md-6">
      <h3>{{title}}</h3>
      <table class="white-table film-basic-info">
        <tr>
          <td>{{genre}}</td>
        </tr>
        {{#if length}}
          <tr>
            <td>{{length}}</td>
          </tr>
        {{/if}}
        {{#if production_company}}
          <tr>
            <td>{{production_company}}</td>
          </tr>
        {{/if}}
      </table>
    </div>
    <div class="col-md-12">
      <p>{{shortsynopsis}}</p>
      <a class="btn btn-lg center-block" href="/film/{{_id}}">VER DETALHES DO FILME</a>
    </div>
  </div>
</template>
