<template name="footer">
	<footer>
		<div class="container">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<a href="http://www.taturanamobi.com.br"><img src="/images/logo-footer1.svg" class="center-block"/></a>
				<a href="http://www.nucleodigital.cc"><img src="/images/logo-footer2.svg" class="center-block"/></a>
				<p>Tecnologia social e digital pela democratização do acesso ao cinema.</p>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<a href="/about">QUEM SOMOS E O QUE FAZEMOS</a><br /><br />
        <p><a href="https://www.facebook.com/TaturanaMobi/">SIGA-NOS!<img src="/images/footer-facebook.svg"></a></p>
        <p><a href="https://github.com/nucleo-digital/plataforma-taturana">A Plataforma Taturana é um projeto open-source<img src="/images/git.svg"></a></p>
			</div>
		</div>
	</footer>
</template>
