<template name="footer">
	<footer>
		<div class="container">
			<div class="col-md-5 col-sm-12 col-xs-12">
        <div class="footer-logos">
          <a target="_blank" href="http://www.taturanamobi.com.br"><img src="/images/logo_footer1.svg"/></a>
          <a target="_blank" href="http://nucleodigital.cc"><img src="/images/logo_footer2.svg"/></a>
        </div>
				<p>Tecnologia social e digital pela democratização do acesso ao cinema.</p>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<a href="/about">QUEM SOMOS E O QUE FAZEMOS</a><br /><br />
        <p><a href="https://www.facebook.com/TaturanaMobi/">SIGA-NOS!<img src="/images/footer-facebook.svg"></a></p>
        <p><a href="https://github.com/nucleo-digital/plataforma-taturana">A Plataforma Taturana é um projeto open-source<img src="/images/git.svg"></a></p>
			</div>
		</div>
  </footer>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75237422-1', 'auto');
    ga('send', 'pageview');

  </script>
  </template>
