<template name="footer">
	<footer>
		<div class="container">
			<div class="col-md-5 col-sm-12 col-xs-12">
        <div class="footer-logos">
          <a target="_blank" href="http://www.taturanamobi.com.br"><img src="/images/logo_footer1.svg" alt="Acessar o site www.taturanamobi.com.br."/></a>
          <a target="_blank" href="http://nucleodigital.cc"><img src="/images/logo_footer2.svg" alt="Acessar o site do Núcleo Digital."/></a>
        </div>
				<p class="footer-logos-description">Tecnologia social e digital pela democratização do acesso ao cinema.</p>
			</div>
			<div class="col-md-7 col-sm-12 col-xs-12">
				<a href="/about">QUEM SOMOS E O QUE FAZEMOS</a><br /><br />
        <p><a href="https://www.facebook.com/TaturanaMobi/" alt="Siga-nos no Facebook.">SIGA-NOS!<img src="/images/footer-facebook.svg" alt=""></a></p>
        <p><a href="https://github.com/nucleo-digital/plataforma-taturana">A Plataforma Taturana é um projeto open-source<img src="/images/git.svg" alt=""></a></p>
			</div>
		</div>
  </footer>
  <script>
	  // Feature detects Navigation Timing API support.
		if (window.performance) {
		  // Gets the number of milliseconds since page load
		  // (and rounds the result since the value must be an integer).
		  var timeSincePageLoad = Math.round(performance.now());

		  // Sends the timing hit to Google Analytics.
		  // ga('send', 'timing', 'JS Dependencies', 'load', timeSincePageLoad);
			gtag('event', 'timing_complete', {
			  'name': 'load',
			  'value': timeSincePageLoad,
			  'event_category': 'JS Dependencies',
			  'event_label': 'timingLabel'
			});
		}
  </script>
  </template>
