<template name="ambassador">
  {{>nav}}
  <div class="bg-wrapper">
    <div id="ambassador" class="container">

      <div class="col-md-12">
        <p class="">Olá, {{currentUser.profile.name}}!</p>
        <h1 class="section-title-lg">ORGANIZE UMA SESSÃO</h1>
        <p class="section-description">Escolha o filme para o qual deseja organizar uma sessão:</p>
      </div>
      <div class="row">
        <div class="col-md-12 adm-list-films">
          {{#each disseminate}}
            <div class="col-md-3">
              <a href="/new-screening/{{_id}}">
                <img src="/upload/{{poster_path}}" class="full" alt="Cartaz do filme {{#if title_pt}}{{title_pt}}{{else}}{{title}}{{/if}}" />
                <h2 class="film-thumb-title">{{#if title_pt}}{{title_pt}}{{else}}{{title}}{{/if}}</h2>
              </div>
            </a>
          {{/each}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="section-title-lg">EDITE SUAS SESSÕES</h1>
          <p class="ambassador-edit-description">Veja aqui as sessões que estão agendadas e edite-as, caso necessário. Você também pode fazer download dos materiais de divulgação do filme. E não se esqueça de, após a sessão, preencher o relatório!</p>
          <ul class="status-meanings">
            <li><img src="images/icon-edit.png" alt="" /><span>Rascunho</span></li>
            <li><img src="images/icon-calendar.png" alt="" /><span>Agendada</span></li>
            <li><img src="images/icon-report-pending.png" alt="" /><span>Relatório<br /> Pendente</span></li>
            <li><img src="images/icon-complete.png" alt="" /><span>Relatório<br /> enviado</span></li>
          </ul>
          {{#each ambassador_screenings}}
          <div class="col-md-4 session-edit-box">
            <div class="session-current-status">
              <img src="images/icon-{{session_status_icon this}}.png" alt="" />
            </div>
            <div class="session-info">
              <h2 class="film-thumb-title red">{{#if title_pt}}{{title_pt}}{{else}}{{title}}{{/if}}</h2>
              <p>{{place_name}} <br/>{{city}} - {{uf}}, {{format_date date}} às {{format_time date}}</p>
            </div>
            <div class="session-edit-actions">
              {{#if in_future this}}
                <a href="upload/{{film_press_kit}}"><span class="square_button"><img src="images/download.svg" alt="Download" /></span></a>
                <a href="edit-screening/{{_id}}"><span class="square_button"><img src="images/edit.svg" alt="Editar" /></span></a>
                <a href="#" class="destroy"><span class="square_button"><img src="images/delete.svg" alt="Deletar" /></span></a>
              {{else}}
                {{#if is_report_pending this}}
                  <a href="report/{{_id}}"><span class="square_button"><img src="images/icon-report-pending.png" alt="Relatório pendente" /></span></a>
                {{/if}}
              {{/if}}
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
  </template>
