<template name="home">
	{{>nav}}
	<section id="home">
		<div class="container">
			<div class="col-md-12 col-sm-12 col-xs-12 home-text-box">
				<h1 class="home-text">A PLATAFORMA TATURANA ATUA PARA A<br/>DEMOCRATIZAÇÃO DO ACESSO AO CINEMA<br/>BRASILEIRO.</h1>
			</div>
		</div>
		<img src="images/divider-1.svg" class="img-responsive center-block divider">
	</section>
  <div class="container">
  	<p class="image-description">Desde início de 2013, a Taturana realiza sessões paralelas ao circuito comercial de cinema que já mobilizaram milhares de espectadores em circuitos alternativos e em centenas de atividades e rodas de conversa.</p>
    {{>carousel}}
  </div>
	{{>footer}}
</template>