<template name="home">
	{{>nav}}
	<section id="home">
		<div class="container">
			<div class="col-md-12 col-sm-12 col-xs-12 home-text-box">
				<h1 class="home-text">Democratizamos o cinema brasileiro</h1>
        <div class="col-md-10 col-xs-12 center-block float-none">
          <p class="home-items">Leve um filme para a sua organização, centro cultural, coletivo, cineclube, escola ou qualquer outro lugar de interesse público!</p>
          <img src="images/ilustracao-passos.svg" class="img-responsive center-block divider" />
    </div>
			</div>
		</div>
	</section>
	<section id="home-carousel">
	  <div class="container">
	  	<div class="col-md-7 col-xs-12 center-block float-none">
	  		<h2 class="home-headers box">Escolha um filme:</h2>
	  	</div>
	    {{>homeCarousel}}
      <div class="col-md-12 center-btn">
        <a href="/register" class="btn btn-lg">AJUDE A DIFUNDIR UM FILME!</a>
      </div>
	  </div>
  </section>
	{{>footer}}
</template>

<template name="homeCarousel">
  <div id="carousel" class="col-md-12">
    {{#each disseminate}}
      <div>
        <div class="col-md-4 carousel-box background-light-red reset-div">
          <img src="/upload/{{poster_home_path}}" class="img-responsive center-block">
        </div>
        <div class="col-md-4 carousel-box background-dark-red">
          <h5 class="title">{{title}}</h5>
          <p class="synopsis max-lines">{{shortsynopsis}}</p>
        </div>
        <div class="col-md-4 carousel-box background-light-red center-btn reset-div">
          {{#if inventory }}
            {{#with inventory}}
            <div class="col-md-6 numbers div-border">
              <h5>{{sessions}}</h5>
              <p class="image-description">Sessões realizadas</p>
            </div>
            <div class="col-md-6 numbers">
              <h5>{{states.length}}</h5>
              <p class="image-description">Estados</p>
            </div>
            <div class="col-md-12 numbers">
              <h5>{{viewers}}</h5>
              <p class="image-description">Pessoas impactadas</p>
            </div>
            {{/with}}
          {{/if}}
          <div class="col-md-12 button-bar">
            <a type="submit" href="/film/{{_id}}" class="btn btn-sm">MAIS INFORMAÇÕES</a>
            <a type="submit" href="/films" class="btn btn-sm">VER TODOS FILMES</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</template>
