<template name="home">
	{{>nav}}
	<section id="home">
		<div class="container">
			<div class="col-md-12 col-sm-12 col-xs-12 home-text-box">
				<h1 class="home-text">A PLATAFORMA TATURANA ATUA PARA A<br/>DEMOCRATIZAÇÃO DO ACESSO AO CINEMA</h1>
			</div>
		</div>
		<img src="images/divider-1.svg" class="img-responsive center-block divider">
	</section>
	<section id="home-carousel">
	  <div class="container">
	  	<div class="col-md-7 col-xs-12 center-block float-none">
	  		<h2 class="home-headers box">O QUE É DIFUSÃO SOCIAL DE FILMES</h2>
	  	</div>
	  	<div class="col-md-10 col-xs-12 center-block float-none">
	  		<p class="home-section-description">Desde início de 2013, a Taturana realiza sessões paralelas ao circuito comercial de cinema que já mobilizaram milhares de espectadores em circuitos alternativos e em centenas de atividades e rodas de conversa.</p>
	  	</div>
	    {{>homeCarousel}}
	  </div>
  </section>
  <section id="home-films">
	  <div class="container">
	  	<div class="col-md-7 col-xs-12 center-block float-none">
	  		<h2 class="home-headers box">FILMES EM CARTAZ</h2>
	  	</div>
	  	<div class="col-md-10 col-xs-12 center-block float-none">
	  		<p class="home-section-description">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. </p>
	  	</div>
	  	{{#each disseminate}}
	      {{> listFilm}}
	    {{/each}}
	    <div class="col-md-12">
	    	<button type="submit" class="btn btn-lg center-block">VER AGENDA COMPLETA</button>
	    </div>
	  </div>
	</section>
	{{>footer}}
</template>

<template name="homeCarousel">  
  <div id="carousel" class="col-md-12">
    <div>
      <div class="col-md-4 carousel-box background-light-red">
        <div class="icon-box">
          <img src="images/home-1_1.svg" class="img-responsive center-block">
        </div>
        <h5>Embaixadores</h5>
        <p class="image-description">Uma pessoa se interessa por um filme e organiza conosco uma sessão em sua cidade e/ou instituição.</p>
      </div>
      <div class="col-md-4 carousel-box background-dark-red">
        <div class="icon-box">
          <img src="images/home-1_2.svg" class="img-responsive center-block">
        </div>
        <h5>Articulação e Ativação de Redes</h5>
        <p class="image-description">Cada sessão ativa sua comunidade e integra uma rede para debate da obra audiovisual</p>
      </div>
      <div class="col-md-4 carousel-box background-light-red">
        <div class="icon-box">
          <img src="images/home-1_3.svg" class="img-responsive center-block">
        </div>
          <h5>Formação de público</h5>
          <p class="image-description">As produções audiovisuais contribuem para causas relevantes à sociedade brasileira.</p>
      </div>      
    </div>
    <div>
      <div class="col-md-4 carousel-box background-light-red">
        <div class="icon-box">
          <img src="images/home-1_3.svg" class="img-responsive center-block">
        </div>
        <h5>Atividades e campanhas</h5>
        <p class="image-description">As produções audiovisuais contribuem para causas relevantes à sociedade brasileira.</p>
      </div>
      <div class="col-md-4 carousel-box background-dark-red">
        <div class="icon-box">
          <img src="images/home-2_2.svg" class="img-responsive center-block">
        </div>
        <h5>Exibição de filmes</h5>
        <p class="image-description">As sessões são coletivas e seguidas de debate em espaços públicos, escolas, universidades etc.</p>
      </div>
      <div class="col-md-4 carousel-box background-light-red">
        <div class="icon-box">
          <img src="images/home-2_3.svg" class="img-responsive center-block">
        </div>
        <h5>Geração de conteúdo</h5>
        <p class="image-description">Cada sessão aprofunda o debate que é sistematizado e publicado aqui na plataforma.</p>
      </div>      
    </div>
    <div>
      <div class="col-md-4 carousel-box background-light-red">
        <div class="icon-box">
          <img src="images/home-1_1.svg" class="img-responsive center-block">
        </div>
        <p class="image-description">Acesso ao cinema<br/>Circuitos Alternativos<br/>Diálogos e Debates</p>
      </div>
      <div class="col-md-4 carousel-box background-dark-red">
        <div class="col-md-12 numbers">
          <h5>21</h5>
          <p class="image-description">filmes difundidos pelo Brasil</p>
        </div>
        <div class="col-md-12 numbers">
          <h5>754</h5>
          <p class="image-description">sessões realizadas</p>
        </div>
      </div>
      <div class="col-md-4 carousel-box background-light-red">
        <div class="col-md-12 numbers">
          <h5>321</h5>
          <p class="image-description">municípios</p>
        </div>
        <div class="col-md-12 numbers">
          <h5>1583</h5>
          <p class="image-description">embaixadores</p>
        </div>
      </div>      
    </div>
  </div>
</template>