<template name="Nav">
	<nav class="navbar navbar-fixed-top">
	  	<div class="container">
	  		<div class="row">
	  			<div class="col-md-4">
				  	<ul class="nav navbar-nav">
				      <li><a href="/">HOME</a></li>
				      <li><a href="#">FILMES</a></li>
				      <li><a href="#">AGENDA</a></li>
				    </ul>
				  </div>
				  <div id="top-menu-logo" class="col-md-4">
				  </div>
				  <div class="col-md-4">
					  <ul class="nav navbar-nav navbar-right">
				      <li><a href="#">CONTATO</a></li>
				      <li><a href="/user-registration">CADASTRE-SE</a></li>
				      <li><a href="#">LOGIN</a></li>
				    </ul>
				  </div>
			  </div>
	    </div> 
	</nav>
</template>