<template name="resetPassword">
  {{>nav}}
  <div id="ambassador-registration">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pull-right login-form">
          <h1>Nova senha</h1>
          <div class="help-block with-errors form-errors"></div>
          <form class="reset-password">
            {{>password}}
            <div class="form-group col-md-6">
              <button class="btn btn-lg btn-block" type="submit">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</template>
