<template name="screenings">
  {{>nav}}
  <div id="agenda" class="container">
    <h3>AGENDA</h3>
    <p class="section-description">As exibições são sempre gratuitas e seguidas de roda de conversa ou outra atividade. É só chegar!</p>
      {{#each films}}
        {{>filmScreening}}
      {{/each}}

      
  </div>
  {{>footer}}
</template>

<template name="filmScreening">
  <div class="box">
    <div class="col-md-12">
      <div class="col-md-3">
        <img class="thumb-poster" src="/upload/{{poster_path}}">
      </div>
      <div class="col-md-9">
        <p><bold>{{synopsis}}</bold></p>
        <table class="white-table">
          <tr>
            <td>{{genre}}</td>
            <td>{{year}}</td>
            <td>{{length}}</td>
            <td>{{country}}</td>
          </tr>
        </table>
        <table class="white-table">
          <tr>
            <td>{{director}}</td>
            <td>{{distributor}}</td>
          </tr>
        </table>
      </div>
    </div>
    {{>filmScreeningDate}}
  </div>
</template>

<template name="filmScreeningDate">
	<div class="col-md-6 screening-date">
	  <table>
	    <tr>
	      <td>São Paulo - SP</td>
	      <td>29/10</td>
	      <td>29/10</td>
	    </tr>
	  </table>
	  <h6>Centro Universitário Jorge Amado (Unijorge)</h6>
	  <p>Av. Luís Viana, 6775 - Paralela</p>
	</div>
</template>