<template name="screenings">
  {{>nav}}
  <div id="agenda" class="container">
    <h3>AGENDA DE EXIBIÇÕES</h3>
    <p class="section-description">As exibições são sempre gratuitas e seguidas de roda de conversa ou outra atividade. É só chegar!</p>
      <div class="row-fluid">
        <div class="col-md-4">
            
            <div class="form-group col-md-3">
                <label for="state-selector">Estado</label>
                <select class="form-control" name="state-selector">
                    <option>AB</option>
                    <option>CD</option>
                    <option>EF</option>
                </select>
            </div>
            
             <div class="form-group col-md-8">
            <label for="city-selector">Cidade</label>
              <select class="form-control" name="city-selector">
                <option>Cidade</option>
                <option>Cidade</option>
                <option>Cidade</option>
                <option>Cidade</option>
              </select>
          </div>
        </div>
          <div class="col-md-8">
              <label>Selecione um mês</label>
            <div class="datepicker-container">
                <div class="btn-group">
                    <button type="button" class="btn btn-datepicker">Jan</button>
                    <button type="button" class="btn btn-datepicker">Fev</button>
                    <button type="button" class="btn btn-datepicker">Mar</button>
                    <button type="button" class="btn btn-datepicker">Abr</button>
                    <button type="button" class="btn btn-datepicker">Mai</button>
                    <button type="button" class="btn btn-datepicker">Jun</button>
                    <button type="button" class="btn btn-datepicker">Jul</button>
                    <button type="button" class="btn btn-datepicker">Ago</button>
                    <button type="button" class="btn btn-datepicker">Set</button>
                    <button type="button" class="btn btn-datepicker">Out</button>
                    <button type="button" class="btn btn-datepicker">Nov</button>
                    <button type="button" class="btn btn-datepicker">Dez</button>
                </div>  
            </div>
          </div>
         
      </div>
  </div>
    
    <style>
        .datepicker-container{
            margin-top: -14px;
        }

        .btn-datepicker{
            background-color: transparent;
            border: solid 1px darkgrey;
            border-left: none;
            color: darkgrey;
            outline: none;
        }
        
        .btn-datepicker:first-child{
            border-left: solid 1px darkgrey;
        }
        
        .btn-datepicker:hover{
            color: white;
            background-color: #df4944;
        }
        
        .btn-datepicker.active{
            background-color: #df4944;
            color: white;
            outline: none;
        }


    </style>
    
    <script>
$(".btn-datepicker").click(function(){
   $(".btn-datepicker").removeClass("active");
   $(this).addClass("active");
});
    </script>
  {{>footer}}
</template>

<template name="filmScreening">
  <div class="box">
    <div class="col-md-12">
      <div class="col-md-3">
        <img class="thumb-poster" src="/upload/{{poster_path}}">
      </div>
      <div class="col-md-9">
        <p><bold>{{synopsis}}</bold></p>
        <table class="white-table">
          <tr>
            <td>{{genre}}</td>
            <td>{{year}}</td>
            <td>{{length}}</td>
            <td>{{country}}</td>
          </tr>
        </table>
        <table class="white-table">
          <tr>
            <td>{{director}}</td>
            <td>{{distributor}}</td>
          </tr>
        </table>
      </div>
    </div>
    {{>filmScreeningDate}}
  </div>
</template>

<template name="filmScreeningDate">
	<div class="col-md-6 screening-date">
	  <table>
	    <tr>
	      <td>São Paulo - SP</td>
	      <td>29/10</td>
	      <td>29/10</td>
	    </tr>
	  </table>
	  <h6>Centro Universitário Jorge Amado (Unijorge)</h6>
	  <p>Av. Luís Viana, 6775 - Paralela</p>
	</div>
</template>