<template name="showFilm">
{{# unless is_oculto}}
  {{>nav}}
  <div id="show-film">
    <div class="container">
      <div class="col-md-12">
        <a href="/films">
          <h1 class="section-title-sm">FILMES | {{status}}</h1>
        </a>
        <div class="col-md-5 reset-div">
          <h2 class="section-title-lg red">{{title}}<img class="age-rating" src="/images/classificacao_{{snakecase age_rating}}.svg"/></h2>
        </div>
        <div class="col-md-7 reset-div pull-right film-detail-buttons">
        {{#if is_difusao }}
          <a href="/new-screening/{{slug}}" class="btn btn-lg">QUERO ORGANIZAR UMA SESSÃO</a>
          <a href="/screenings" class="btn btn-lg">VER AGENDA DE EXIBIÇÃO</a>
        {{/if}}
        </div>
      </div>
      <div class="col-md-12 data-row reset-div">
      {{! TODO: queria tbm usar uma definition list aqui, mas sem usar várias
          DLs não consigo o mesmo efeito da tabela, e ficaria horrivel no screen reader:
          "Lista com 1 elemento: Genêro: Documentário ... Lista com 1 elemento..." }}
        <table class="white-table">
          <tr>
            <td>{{genre}}</td>
            <td>{{year}}</td>
            {{# if length}}
              <td>{{length}}</td>
            {{/if}}
            <td>{{country}}</td>
            {{# if director}}
              <td>{{director}}</td>
            {{/if}}
            {{# if production_company}}
              <td>{{production_company}}</td>
            {{/if}}
          </tr>
        </table>
      </div>
      <div class="col-md-12 data-row reset-div">
        <div class="col-md-4 poster-wrapper">
          <img class="thumb-poster" src="/upload/{{poster_path}}" alt="Cartaz do filme {{#if title_pt }}{{title_pt}}{{else}}{{title}}{{/if}}">
        </div>
        <div class="col-md-4">
          <p>{{{synopsis}}}</p>
        </div>
        {{#if tibr}}
          <div class="col-md-4">
            <h5 class="red">FICHA TÉCNICA</h5>
            <div class="row box">
              <div class="col-md-12">
                {{{ tibr }}}
              </div>
            </div>
          </div>
        {{/if}}
      </div>

      <div class="col-md-8 data-row">
        <table class="white-table">
          <tr>
            {{#if trailer_url}}
              <td><a href="{{trailer_url}}" rel="prettyPhoto" class="red">ASSISTA AO TRAILER</a></td>
            {{/if}}

            {{#if site}}
              <td><a href="{{site}}" class="red" target="_blank">VISITE O SITE OFICIAL</a></td>
            {{/if}}

            {{#each linklist}}
              <td><a href="{{link}}"><img src="/images/{{name}}.svg" alt="{{name}}"></a></td>
            {{/each}}
          </tr>
        </table>
      </div>

      <div class="film-graphs">
        {{#with inventory}}
        <div class="col-md-12 data-row film-graphs">
          <div class="col-md-6 reset-div film-graphs__box">
            <h3>{{#if is_difusao_portfolio film}}Números da mobilização{{else}}Dados da Difusão{{/if}}</h3>
            <dl>
              <dd class="{{hideIfNotDifusaoPortfolio film}}"><div id="viewers-chart" class="ct-chart"></div></dd>
              <dd><img src="/images/eye.svg" alt="">{{viewers_from_reports}} espectadores em {{sessions_with_reports}} sessões com relatório de impacto</dd>
              <dd><img src="/images/icon-calendar.png" alt="">{{past_sessions}} sessões realizadas</dd>
              {{#unless is_only_portfolio film}}
              <dd><img src="/images/icon-calendar.png" alt="">{{future_sessions}} sessões programadas (confira a agenda!)</dd>
              {{/unless}}
            </dl>
          </div>
          {{#if is_difusao_portfolio film }}
          <div class="col-md-6 film-graphs">
            <h3>Em quais regiões</h3>
            <div class="ct-chart {{hideIfNotDifusaoPortfolio film}}" id="zone-chart"></div>
            <p>{{cities_total}} municipios alcançados</p>
          </div>
          {{else}}
          <div class="col-md-6 reset-div film-graphs__box">
            <h3>Em quantos estados</h3>
            <ul>
              {{#each states}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
          {{/if}}
        </div>
        {{# if is_difusao_portfolio film}}
          {{# if has_categories categories}}
          <div class="col-md-12 data-row">
            <h3>Sobre os embaixadores</h3>
            <div class="film-graphs">
              <div class="col-md-6">
                <div id="institution-type-chart" class="ct-chart"></div>
                <p>Perfil das instituições dos embaixadores</p>
              </div>
              <div class="col-md-6">
                <div id="institution-area-chart" class="ct-chart"></div>
                <p>Áreas de atuação dos embaixadores</p>
              </div>
            </div>
          </div>
          {{/if}}
        {{/if}}
      {{/with}}
      </div>
      {{#if slideshow}}
        <div class="col-md-12 data-row">
          <h5 class="red">FOTOS</h5>
          <div id="carousel" class="center-block data-row">
            {{#each slideshow}}
              <div>
                <div class="col-md-12">
                  <img class="full photo" src="/upload/{{src}}"/>
                  <p class="photo-description">{{caption}} - Autor: {{author}}</p>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  {{>footer}}
{{/unless}}
</template>